<div id="pgHome" data-role="page" class="page bg">
	<!-- BRAND -->
	<div class="brand"></div>
	<!-- MENU -->
	<div class="menu">
		<a href="#events" class="menuItem typcn-flag-outline" data-role="button"><span class="label">Events</span></a>
		<a href="#programmes" class="menuItem typcn-star-outline" data-role="button"><span class="label">Programmes</span></a>
		<a href="#publications" class="menuItem typcn-book" data-role="button"><span class="label">Publications</span></a>
		<a href="#news" class="menuItem typcn-news" data-role="button"><span class="label">News</span></a>
		<a href="#links" class="menuItem sml typcn-device-desktop" data-role="button"><span class="label">Links</span></a>
		<a href="#localpage/about" class="menuItem sml typcn-mortar-board" data-role="button"><span class="label">About</span></a>
	</div>
	<!-- ALERT -->
	<div class="notif" data-role="button" ng-click="onNotifClick()" bindonce="notif">
		<i class="icon" bo-class="notif.icon"></i>
		<span class="label" bo-text="notif.label"></span>
		<span class="title" bo-text="notif.title | limitTo:charLimit"></span>
	</div>
</div>
