<div data-role="page" class="page" bindonce="section" bo-id="'pg' + (section.id | capitalize)" bo-class="section.theme">
	<div class="pageHeader bgc-2" data-role="header">
		<span class="headerTitle" bo-class="{'small':section.showFilter}">
			<span class="secID" bo-class="{'hasFilter':section.showFilter}"><span class="label">{{section.id}}<i class="typcn-arrow-sorted-down" bo-if="section.hasCategories"></i></span></span>
			<span class="cateID" bo-if="section.showFilter">{{section.filter}}</span>
			<select class="filter" bo-if="section.hasCategories" ng-model="section.currentFilter" ng-change="filterList()">
				<option ng-repeat="category in section.categories">{{category.value}}</option>
			</select>
		</span>
		<a href="#menu" class="headerBtn right btnMenu" data-role="button"><i class="icon typcn-th-menu"></i></a>
	</div>
	<div class="pageContent" data-role="content">
		<div class="scroller" data-role="scroller"
			ng-iscroll="pageContentScroller" ng-iscroll-delay="800" ng-iscroll-refresher="(entries | filter:section.listFilter).length"
			bindonce="entries" bo-switch="section.id">
			<!-- PROGRAMMES -->
			<div data-role="scrollerContent" bo-switch-when="programmes">
				<a 	class="item" data-role="button"
					bo-class="section.id"
					ng-repeat="entry in entries | filter:section.listFilter | orderBy:section.order"
					bo-href="'#' + section.id + '/article/' + entry.articleID">
					<div class="content">
						<p class="debug" bo-text="$index + ': ' + entry.articleID"></p>
						<p class="title" bo-text="entry.title | limitTo:charLimit"></p>
					</div>
					<i class="icon typcn-chevron-right"></i>
				</a>
			</div>
			<!-- PUBLICATIONS/LINKS -->
			<div data-role="scrollerContent" bo-switch-when="publications">
				<a 	class="item" data-role="button" data-link="external"
					bo-class="section.id"
					ng-repeat="entry in entries | filter:section.listFilter | orderBy:section.order"
					bo-href="entry.link">
					<div class="content">
						<p class="debug" bo-text="$index + ': ' + entry.articleID"></p>
						<p class="title" bo-text="entry.title | limitTo:charLimit"></p>
					</div>
					<i class="icon typcn-chevron-right"></i>
				</a>
			</div>
			<!-- LINKS -->
			<div data-role="scrollerContent" bo-switch-when="links">
				<a 	class="item" data-role="button" data-link="external"
					bo-class="section.id"
					ng-repeat="entry in entries | filter:section.listFilter | orderBy:section.order"
					bo-href="entry.link">
					<div class="content">
						<p class="debug" bo-text="$index + ': ' + entry.articleID"></p>
						<p class="title" bo-text="entry.title | limitTo:charLimit"></p>
					</div>
					<i class="icon typcn-chevron-right"></i>
				</a>
			</div>
			<div class="acenter" bo-if="!(entries | filter:section.listFilter).length"><h3>No current record in this category</h3></div>
		</div>
	</div>
</div>