<div data-role="page" class="page ppl" bindonce="section" bo-id="'pg' + (section.id | capitalize)">
	<div class="pageHeader bgc-2" data-role="header">
		<span class="headerTitle" ng-class="{small:section.showFilter}">
			<span class="secID" ng-class="{hasFilter:section.showFilter}"><span class="label">{{section.id}}<i class="typcn-arrow-sorted-down" ng-show="section.hasCategories"></i></span></span>
			<span class="cateID" ng-show="section.showFilter">{{section.filter}}</span>
			<select class="filter" ng-show="section.hasCategories" ng-model="section.currentFilter" ng-change="filterList()">
				<option ng-repeat="category in section.categories">{{category.value}}</option>
			</select>
		</span>
		<a href="#menu" class="headerBtn right btnMenu" data-role="button"><i class="icon typcn-th-menu"></i></a>
	</div>
	<div class="pageContent" data-role="content">
		<div class="scroller" data-role="scroller"
			ng-iscroll="pageContentScroller" ng-iscroll-delay="800" ng-iscroll-refresher="(entries | filter:section.listFilter).length"
			bindonce="entries">
			<div data-role="scrollerContent">
				<a 	class="item" data-role="button"
					bo-class="section.id"
					ng-repeat="entry in entries | filter:section.listFilter | orderBy:order"
					bo-href="'#article/' + entry.articleID">
					<div class="content">
						<p class="debug" bo-text="$index + ': ' + entry.articleID"></p>
						<p class="title" bo-text="entry.title | limitTo:charLimit"></p>
					</div>
					<i class="icon typcn-chevron-right"></i>
				</a>
			</div>
			<div class="acenter" ng-show="!(entries | filter:listFilter).length"><h3>No current record in this category</h3></div>
		</div>
	</div>
</div>