<div id="pgMenu" data-role="page" class="page">
	<div class="pageBg"></div>
	<div class="pageContent" data-role="content">
		<div class="brandTitle">
			<a href="javascript:window.history.back();" class="headerBtn headerBtnLeft btnBack" data-role="button"><i class="icon icon-angle-left"></i></a>
		</div>
		<div class="menuList">
			<div class="scroller" data-role="scroller" ng-iscroll ng-iscroll-delay="800">
				<div data-role="scrollerContent">
					<h2 class="title"><span class="label">Menu</span></h2>
					<nav class="menuItems">
						<a href="#sec-events" class="menuItem" data-role="button"><span class="label">Events</span></a>
						<a href="#sec-programmes" class="menuItem" data-role="button"><span class="label">Programmes</span></a>
						<a href="#sec-publications" class="menuItem" data-role="button"><span class="label">Publications</span></a>
						<a href="#sec-news" class="menuItem" data-role="button"><span class="label">News</span></a>
						<a href="#sec-links" class="menuItem" data-role="button"><span class="label">Links</span></a>
						<a href="#pg-about" class="menuItem" data-role="button"><span class="label">About</span></a>
					</nav>
					<h2 class="title"><span class="label">Settings</span></h2>
					<nav class="menuItems settings">
						<a class="menuItem switch" data-ng-click="toggleSetting('notification')">
							<span class="label">Notification <span data-ng-show="settings.notification">On</span><span data-ng-hide="settings.notification">Off</span></span>
							<div data-role="switch" class="slide" data-ng-class="{checked:settings.notification}">
								<input type="checkbox" data-ng-model="settings.notification">
								<div class="switch-controls">
									<span class="switch-left"></span>
									<label>&nbsp;</label>
									<span class="switch-right"></span>
								</div>
							</div>
						</a>
						<a class="menuItem switch" data-ng-click="toggleSetting('custom')">
							<span class="label">Custom <span data-ng-show="settings.custom">On</span><span data-ng-hide="settings.custom">Off</span></span>
							<div data-role="switch" class="slide" data-ng-class="{checked:settings.custom}">
								<input type="checkbox" data-ng-model="settings.custom">
								<div class="switch-controls">
									<span class="switch-left"></span>
									<label>&nbsp;</label>
									<span class="switch-right"></span>
								</div>
							</div>
						</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
