<div id="pgMenu" data-role="page" class="page bg">
	<div class="brand"></div>
	<div class="pageHeader" data-role="header">
		<a href="javascript:window.history.back();" class="headerBtn left btnBack" data-role="button"><i class="icon typcn-chevron-left"></i></a>
	</div>
	<div class="pageContent menuList" data-role="content">
		<div class="scroller mask noBtm" data-role="scroller" ng-iscroll="menuListScroller" ng-iscroll-delay="800">
			<div data-role="scrollerContent">
				<a href="#home" class="menuItem typcn-home-outline" data-role="button">Home</a>
				<a href="#events" class="menuItem typcn-flag-outline" data-role="button">Events</a>
				<a href="#programmes" class="menuItem typcn-star-outline" data-role="button">Programmes</a>
				<a href="#publications" class="menuItem typcn-book" data-role="button">Publications</a>
				<a href="#news" class="menuItem typcn-news" data-role="button">News</a>
				<a href="#links" class="menuItem typcn-device-desktop" data-role="button">Links</a>
				<a href="#localpage/about" class="menuItem typcn-mortar-board" data-role="button">About (local)</a>
				<a href="#page/100" class="menuItem typcn-mortar-board" data-role="button">About (remote)</a>
				<h2 class="title">Settings</h2>
				<div class="settingItem">
					Notification
					<div class="toggle" data-role="toggle" ng-class="{checked:settings.notification}" ng-click="toggleSetting('notification')">
						<i class="icon typcn-tick"></i>
						<span class="handle"></span>
						<i class="icon typcn-times"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
