<!-- More info on http://docs.build.phonegap.com/en_US/3.1.0/configuring_basics.md.html -->
<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap 	= "http://phonegap.com/ns/1.0"
	id        	= "com.fraynework.marist"
	version   	= "1.0.0"
	versionCode = "1" >
	<!-- versionCode is optional and Android only -->
	
	<!-- The name of the application -->
	<name>Marist Schools Australia</name>
	<!-- A description for your application -->
	<description>
		Marist Schools Australia Mobile App
	</description>
	<!-- Author -->
	<author href="http://www.fraynework.com.au" email="contact@fraynework.com.au">
		Fraynework Limited
	</author>
	
	<!-- Core APIs/Plugins -->
	<!-- refer to: https://build.phonegap.com/plugins -->
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	
	<!-- Non-Core APIs/Plugins -->
	<gap:plugin name="com.phonegap.plugin.statusbar" />
	<gap:plugin name="nl.x-services.plugins.ioswebviewcolor" />
	
	<!-- Platforms -->
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<!-- Perfs: multi-platform -->
	<preference name="phonegap-version"				value="3.1.0" />
	<preference name="orientation"					value="portrait" />
	
	<!-- Perfs: iOS -->
	<preference name="target-device"				value="universal" />
	<preference name="deployment-target" 			value="6.0" />				<!-- sets IPHONEOS_DEPLOYMENT_TARGET in ipa -->
	<preference name="prerendered-icon" 			value="true" />				<!-- stop glossy effect to be added to icon -->
	<preference name="detect-data-types" 			value="false" />			<!-- whether certain data types (e.g. phone, dates) are turned into links -->
	<preference name="exit-on-suspend" 				value="false" />			<!-- app will terminate when suspended -->
	<preference name="webviewbounce" 				value="false" />			<!-- controls whether the screen "bounces" when scrolled beyond on iOS. -->
	<preference name="stay-in-webview" 				value="false" />			<!-- all links (even with target set to blank) will open in the app's webview -->
	
	<!-- Perfs: Android -->
	<preference name="android-installLocation"		value="internalOnly" />		<!-- install location (internalOnly, auto or preferExternal) -->
	<preference name="android-minSdkVersion"		value="14" />				<!-- Minimum Android SDK version -->
	
	<!-- Icon: iOS -->
	<icon src="res/icon/ios/icon-57.png"	gap:platform="ios" width="57" 	height="57" />
    <icon src="res/icon/ios/icon-57-2x.png"	gap:platform="ios" width="114" 	height="114" />
	<icon src="res/icon/ios/icon-72.png"	gap:platform="ios" width="72" 	height="72" />
	<icon src="res/icon/ios/icon-72-2x.png"	gap:platform="ios" width="144" 	height="144" />	
	
	<!-- Icon: Android -->
    <icon src="res/icon/android/icon-ldpi.png"	gap:platform="android" gap:density="ldpi" />
    <icon src="res/icon/android/icon-mdpi.png"	gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/icon-hdpi.png"	gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/icon-xhdpi.png"	gap:platform="android" gap:density="xhdpi" />
	
    <!-- Splash: iOS -->
	<gap:splash src="res/screen/ios/screen-iphone-portrait.png"		gap:platform="ios" width="320" 	height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"	gap:platform="ios" width="640" 	height="960" />
	<gap:splash src="res/screen/ios/screen-iphone-portrait-ip5.png"	gap:platform="ios" width="640" 	height="1136" />
	<gap:splash src="res/screen/ios/screen-ipad-portrait.png" 		gap:platform="ios" width="768" 	height="1024" />
	<gap:splash src="res/screen/ios/screen-ipad-portrait-2x.png" 	gap:platform="ios" width="1536" height="2048" />

	<!-- Splash: android -->
	<gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
	
	<!-- Access -->
	<access origin="*" />
</widget>
